.container {
  padding: 32px;
  display: flex;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 800px;
}

.permissionTable {
  margin-top: 20px;

  th, td {
    text-align: center;
    padding: 12px;
  }

  .ant-checkbox-inner {
    width: 18px;
    height: 18px;
  }
}

.firstColumn {
  text-align: left !important;
  width: 40%;
  font-weight: 500;
}
