@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-light: #ffffff;
  --background-dark: #121212;
  --background-light-phs: #326233;
  --background-dark-phs: #1a2d1a;
  --text-light: #000000;
  --text-dark: #ffffff;
  --text-title-light: #ff8c00;
  --text-title-dark: #ffcc80;
  --button-light: #f5f5f5;
  --button-dark: #333333;
  --button-hover-light: #e0e0e0;
  --button-hover-dark: #444444;
  --border-light: #e0e0e0;
  --border-dark: #444444;
  --active-bg-light: #d4d5d6;
  --active-bg-dark: #555555;
  --link-light: #1e90ff;
  --link-dark: #a9a9a9;
  --primary-light: #e80000;
  --secondary-light: #ffa500;
}

[data-theme="light"] {
  --background: var(--background-light);
  --background-phs: var(--background-light-phs);
  --text-color: var(--text-light);
  --text-title-color: var(--text-title-light);
  --button-bg: var(--button-light);
  --button-hover-bg: var(--button-hover-light);
  --border-color: var(--border-light);
  --active-bg: var(--active-bg-light);
  --link: var(--link-light);
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --background-phs: var(--background-dark-phs);
  --text-color: var(--text-dark);
  --text-title-color: var(--text-title-dark);
  --button-bg: var(--button-dark);
  --button-hover-bg: var(--button-hover-dark);
  --border-color: var(--border-dark);
  --active-bg: var(--active-bg-dark);
  --link: var(--link-dark);
  --primary: #991b1b;
  --secondary: #a16207;
}

html,
body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  background-color: var(--button-bg);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 8px 12px;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: var(--button-hover-bg);
}
