.pageContainer {
  padding: 32px;
}

.restaurantCard {
  margin-bottom: 32px;
}

.menuContainer {
  padding-top: 16px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.loginCard {
  max-width: 500px;
  width: 100%;
}
